body {
  background-color: #0c0c0c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

.hero {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 100px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 160px;
  position: relative;
  z-index: 2;
}
.hero__logo-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.hero__logo {
  width: 78.08181762695312px;
  height: 78.08181762695312px;
}

.hero__logo-text {
  color: #f3f4f8;
}
.hero__text {
  display: flex;
  gap: 14px;
}
.hero__text-line {
  height: 90px;
}
.hero__title {
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  font-style: Roman;
  font-size: 114px;
  line-height: 90%;
  letter-spacing: -3%;
  color: #d9d9d9;
}
.hero__button {
  width: 529px;
  height: 94px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 98px;
  background: linear-gradient(270.85deg, #ff9f4d -5.46%, #e16015 97.11%);
  box-shadow: 0px 18px 131.8px 0px #f47a1c61;
  box-shadow: 0px 5px 53px 0px #de600061;
}
.hero__button-text {
  font-family: HelveticaNeueCyr;
  font-weight: 550;
  font-style: Medium;
  font-size: 32px;
  leading-trim: CAP_HEIGHT;
  line-height: 90%;
  letter-spacing: -3%;
  color: #0c0c0c;
}
.hero__button-triangle {
  height: 20px;
  width: 20px;
}
.hero__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}
.hero__eclipse {
  position: absolute;
  user-select: none;
  pointer-events: none;
}
.hero__eclipse-small {
  top: 130.06px;
  left: 51.56px;
}
.hero__eclipse-big {
  top: 36px;
  left: 0;
}
canvas {
  display: block;
}
