body {
  background-color: #0c0c0c;
  position: relative;
  overflow-x: hidden;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

li {
  list-style: none;
}

canvas {
  display: block;
}

#main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; /* Prevents unwanted horizontal scrollbars */
}

.panel {
  position: fixed;
  top: 0;
  left: 0;
  will-change: transform;
  width: 100%;
  height: 100vh;
  background-color: #0c0c0c; /* CRITICAL: Must be solid to hide the page behind */
}

.page-1 {
  z-index: 3;
}

.page-2 {
  z-index: 2;
}
.page-3 {
  z-index: 1;
}

.hero {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 100px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 160px;
  position: relative;
  z-index: 2;
}
.hero__logo-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.hero__logo {
  width: 78.08181762695312px;
  height: 78.08181762695312px;
  user-select: none;
}

.hero__logo-text {
  color: #f3f4f8;
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  font-style: Roman;
  font-size: 80px;
  line-height: 90%;
  letter-spacing: -3%;
}
.hero__text {
  display: flex;
  align-items: center;
  gap: 14px;
}
.hero__text-line {
  height: 80px;
  user-select: none;
}
.hero__title {
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  font-style: Roman;
  font-size: 114px;
  line-height: 1.2;
  letter-spacing: -3%;
  color: #d9d9d9;
  transition: opacity 0.5s ease;
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255) 0%,
    rgba(255, 122, 0, 0.7) 50%,
    rgba(255, 123, 0, 0.7) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  white-space: nowrap;
  border-right: 10px solid transparent;
}

.hero__title--animate {
  animation: typing 1s steps(30, end), blink-caret 0.5s step-end 2;
}

.hero__button {
  height: 94px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 98px;
  background: linear-gradient(270.85deg, #ff9f4d -5.46%, #e16015 97.11%);
  box-shadow: 0px 5px 53px 0px #de600061;
  width: 529px;
  --shimmer-inset: 40px;
  --shimmer-glow-hue: 222deg;
  --shimmer-shadow-hue: 180deg;
  --shimmer-spring-easing: linear(
    0,
    0.002,
    0.01 0.9%,
    0.038 1.8%,
    0.156,
    0.312 5.8%,
    0.789 11.1%,
    1.015 14.2%,
    1.096,
    1.157,
    1.199,
    1.224 20.3%,
    1.231,
    1.231,
    1.226,
    1.214 24.6%,
    1.176 26.9%,
    1.057 32.6%,
    1.007 35.5%,
    0.984,
    0.968,
    0.956,
    0.949 42%,
    0.946 44.1%,
    0.95 46.5%,
    0.998 57.2%,
    1.007,
    1.011 63.3%,
    1.012 68.3%,
    0.998 84%,
    1
  );
  --shimmer-spring-duration: 1.33s;
  position: relative;
  transition: all var(--shimmer-spring-duration) var(--shimmer-spring-easing);
}
.hero__button:hover:not(:active) {
  transition-duration: calc(var(--shimmer-spring-duration) * 0.5);
  scale: 1.2;
  box-shadow: 0 4px 8px -2px hsl(var(--shimmer-glow-hue) 50% 20% / 50%),
    inset 0 0 0 transparent;
}
.hero__button:hover .hero__button-text {
  animation: shimmer-text 0.66s ease-in 1 both;
}
.hero__button:hover .hero__button-shimmer::before,
.hero__button:hover .hero__button-shimmer::after {
  opacity: 1;
  animation: shimmer-shine 1.2s ease-in 1 forwards;
}
.hero__button-text {
  font-family: HelveticaNeueCyr;
  font-weight: 550;
  font-style: Medium;
  font-size: 32px;
  line-height: 90%;
  letter-spacing: -3%;
  color: transparent;
  background-clip: text;
  background-color: #0c0c0c;
  background-image: linear-gradient(
    120deg,
    transparent,
    hsla(var(--shimmer-glow-hue), 100%, 80%, 0.66) 40%,
    hsla(var(--shimmer-glow-hue), 100%, 90%, 0.9) 50%,
    transparent 52%
  );
  background-repeat: no-repeat;
  background-size: 300% 300%;
  background-position: center 200%;
}
.hero__button-shimmer {
  position: absolute;
  inset: calc(var(--shimmer-inset) * -1);
  border-radius: inherit;
  pointer-events: none;
  mask-image: conic-gradient(
    from var(--shimmer, 0deg),
    transparent 0%,
    transparent 20%,
    black 36%,
    black 45%,
    transparent 50%,
    transparent 70%,
    black 85%,
    black 95%,
    transparent 100%
  );
  mask-size: cover;
  animation: shimmer 1s linear infinite both;
}
.hero__button-shimmer::before,
.hero__button-shimmer::after {
  opacity: 0;
  content: "";
  border-radius: inherit;
  position: absolute;
  inset: var(--shimmer-inset);
}

.hero__button-shimmer::before {
  box-shadow: 0 0 calc(var(--shimmer-inset) * 0.1) 2px
      hsl(var(--shimmer-glow-hue) 20% 95%),
    0 0 calc(var(--shimmer-inset) * 0.18) 4px
      hsl(var(--shimmer-glow-hue) 20% 80%),
    0 0 calc(var(--shimmer-inset) * 0.33) 4px
      hsl(var(--shimmer-glow-hue) 50% 70%),
    0 0 calc(var(--shimmer-inset) * 0.66) 5px
      hsl(var(--shimmer-glow-hue) 100% 70%);
  z-index: -1;
}

.hero__button-triangle {
  height: 20px;
  width: 20px;
}

.hero__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}
.hero__eclipse {
  position: absolute;
  user-select: none;
  pointer-events: none;
}
.hero__eclipse-small {
  top: 130.06px;
  left: 51.56px;
}
.hero__eclipse-big {
  top: 36px;
  left: 0;
}
.carousel-nav {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 40px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  z-index: 100;
}
.carousel-nav__controls {
  border: 1px solid #ffffff1a;
  backdrop-filter: blur(30px);
  background-color: #141414;
  width: 296px;
  height: 35px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 54px;
  padding: 12px;
}
.carousel-nav__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-nav__dot-list {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.carousel-nav__dot {
  width: 12px;
  height: 12px;
  border-radius: 8px;
  background-color: #5a5a5a4d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-color 0.3s ease;
}
.carousel-nav__dot--active {
  background-color: #f67f1b;
  width: 24px;
}
.carousel-nav__dot-button {
  width: 100%;
  height: 100%;
}
.carousel-nav__counter {
  width: 82px;
  height: 35px;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff1a;
  background-color: #141414;
  backdrop-filter: blur(30px);
  border-radius: 54px;
  padding: 12px;
}
.carousel-nav__counter-text {
  font-family: HelveticaNeueCyr;
  font-weight: 550;
  font-style: Medium;
  font-size: 16px;
  line-height: 90%;
  letter-spacing: -3%;
  color: #ffffff;
}

@keyframes shimmer-text {
  0% {
    background-position: 100% center;
  }
  100% {
    background-position: -100% center;
  }
}

@property --shimmer {
  syntax: "<angle>";
  inherits: false;
  initial-value: 33deg;
}

@keyframes shimmer {
  0% {
    --shimmer: 0deg;
  }
  100% {
    --shimmer: 360deg;
  }
}
@keyframes shimmer-shine {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blink-caret {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
